


/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */
.fm-video {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}

.fm-video .vjs-control-bar {
	background: rgba(0,0,0,.5);
	color: #F4F4F4;
}

.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level {
	background: #1d87d8;
}
.video-js .vjs-play-progress:before{
	font-size:1em;
}
.fm-video .vjs-slider {
	background: #2d5f85;
}

.video-js:hover .vjs-big-play-button {
	background: rgba(0,0,0,.2);
}

.fm-video .vjs-big-play-button {
	background: rgba(0,0,0,.2);
	width: 75px;
	height: 75px;
	line-height: 76px;
	border-radius: 100%;
	border:none;
	outline: none;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
	animation: pulse 1.35s infinite cubic-bezier(0.66,0,0,1);
	transition: all 0.5s;
	
}

@keyframes pulse
{
	100%{
		box-shadow: 0 0 0 80px rgba(0, 0, 0, 0);
		
	}
}





.fm-video .vjs-big-play-button:hover{
	animation: none;
	background-color: rgba(0,0,0,.2);
	color: #fff;
	transition: 0.5s;
}
.vjs-big-play-button:after{
	
	transition: visibility 0.1s, opacity 0.1s;
}


.fm-video .vjs-big-play-button:hover {
	background: rgba(0,0,0,.5);
	transition: all 0.5s;
}




